/* Footer Container */
.footer {
    background-color: #d2d3d3;
    color: #ffffff;
    padding: 40px 20px;
    font-family: Sour Gummy, sans-serif;
    background: linear-gradient(to bottom, black,transparent);
  }
  
  .footer-container {
    /*display: flex;*/
    display: grid;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr); 
  }
  
  /* Footer Columns */
  .footer-column {
    flex: 1;
    min-width: 250px;
    margin: 20px;
  }
  
  .footer-column h4 {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column li {
    margin: 10px 0;
  }
  
  .footer-column a {
    color: #fdfdfd;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-column a:hover {
    color: #0ec39f;
  }
  
  .lastfooter {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .paiem img{
    width: 40px;
    height: 40px;
    margin: 10px;
 }

 @media (max-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr); 
    display: flex;
    justify-content: center;
  }

  .footer-column {
    align-items: flex-start;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .footer-container {
    grid-template-columns: repeat(1, 1fr); 
  }
  .footer-column {
    gap: 15px;
    margin: 0;
  }
}
  