.home{
  margin: 0px;
  background-color:rgb(219, 219, 219) ;
}


.carousel {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide {
  min-width: 100%;
  display: none;
}

.slide.active {
  display: block;
}

.carousel img {
  width: 100%;
  border-radius: 12px;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.navigation button {
  background: rgba(0, 0, 0, 0.477);
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.navigation button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacement entre les points */
  margin-top: 20px; /* Ajustez selon vos besoins */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%; /* Rend les points circulaires */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #000; /* Point actif (par exemple, noir) */
}
.Title{
  font-size: 30px;
  text-align: center;
  margin-top:60px ;
  margin-bottom:60px ;

}
.Title p{
  font-size: 23px;
  margin-top: -30px;
}
i {
  font-size: 24px; /* Taille de l'icône */
  color: black;    /* Couleur de l'icône */
}

.benefits {
  margin: 90px 15% 90px 15%;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;            /* Utilise flexbox pour l'alignement */
  justify-content: space-around;  /* Centre verticalement les éléments */
  align-items: center;      /* Centre horizontalement les éléments */
  gap: 30px;
}

.benefit {
  display: flex;            /* Utilise flexbox pour l'alignement */
  justify-content: center;  /* Centre verticalement les éléments */
  align-items: center;      /* Centre horizontalement les éléments */
  gap: 5px;
}

.benefits p {
  border-bottom: 2px solid black; /* Ligne sous le texte */
}
.Recherchés_Black_Friday{
  margin: 90px 15% 90px 15%;
}  
.Item img{
  width: 259px;
  height: 174px;
  border-radius: 12px;
}
